name: Execute notebook

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'master'
      - 'develop'

  push:
    branches:
      - 'master'
      - 'develop'
  create:
    branches:
      - 'master'
    tags:
      - '**'

jobs:
  linux:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'no ci')"
    strategy:
      max-parallel: 5
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install lxml_html_clean
        pip install -r requirements.txt
        pip install mosek
    - name: Update version in setup.py
      run: >-
        sed -i "s/{{VERSION_PLACEHOLDER}}/0.0.0/g" setup.py
    - name: Install PEPit
      run: |
        pip install -e .
    - uses: yaananth/run-notebook@v2
      env:
        MOSEKLM_LICENSE_FILE: ${{ secrets.MSK_LICENSE }}
        RUNNER: ${{ toJson(runner) }}
        SECRETS: ${{ toJson(secrets) }}
        GITHUB: ${{ toJson(github) }}
      with:
        notebook: "ressources/demo/PEPit_demo.ipynb"
        isReport: False
        poll: True
